
APP_PASSWORD=""
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""
AUTH_SECRET=""
CLOUDINARY_UPLOAD_PRESET=""
CLOUDINARY_URL=""
DEEPSEEK_APIKEY=""
EMAIL_USER=""
GOOGLE_CODE=""
GOOGLE_GENERATIVE_AI_API_KEY=""
MONGODB_URL=""
SESSION_SECRET=""
STORY_CODE=""