@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-geist: var(--font-geist);
  --font-cherry: var(--font-cherry);

  --color-primary: #e44a1f;
  --color-secondary: #444444;
  --color-accent-blue: #407bff;
  --color-light-gray: #d4d4d4;

  --breakpoint-xs: 450px;

  --shadow-story-card: 0px 0px 20px 5px #00000010;
}

button {
  @apply cursor-pointer;
}

* {
  @apply transition-all;
}
